* {
	box-sizing: border-box;
}

body {
	background-image: url(../../assets/images/crystalBackground.png);
	background-color: blue;
	
}

.container {
	margin: 20px;	
	
}
h1 {
	color: white;
	background-color: orange;
	padding: 1rem;
	width: 350px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 25px;

}

.gameDescription {
	color: green;
	background-color: tan;
	padding: 1rem;
	margin-bottom: 20px;
	width: 500px;
}
.randomNum {
	width: 90px;
	height: 70px;
	padding: 10px;
	background-color: lightGreen;
	color: purple;
	margin-bottom: 10px;
	float: left;
	text-align: center;

}
p {
	margin-bottom: 10px;
}

.boxOfCrystals {
	clear: both;
	background-color: yellow;
	margin-bottom: 10px;
	margin-top: 25px;
	width: 340px;	
}
.tealBackround {
	background-color: teal;
	width: 345px;
	padding: 10px;
	color: white;
	margin-bottom: 20px;
}
.winsAndLosses {
	background-color: lightblue;
	margin-bottom: 10px;
	width: 60px;
	height: 70px;
	float: left;
	margin-left: 15px;
	text-align: center;
	padding: 10px;

}
.crystal img {
	
	width: 75px;
	height: 75px; 
	float: left;
	margin: 5px;
}

